@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

    /* ############# utility classes   ############### */

.container{
    max-width: 120rem;
    width: 90%;
    margin: auto;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 2em;
    border-radius: 5rem;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-primary{
    background: #ec4f31;
    color: #fff;
}

.mid-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: #555;
}

    /* ############ navbar styling ################### */

    /* for desktop */

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 99;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
}
.menu-items{
    order: 2;
    display: flex;
}
.menu-items li{
    list-style: none;
    margin-left: 3rem;
    font-size: 1.8rem;
}
.menu-items li a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}
.menu-items li a:hover{
    color: #ec4f31;
}
.logo{
    height: 6rem;
    width: 6rem;
    order: 1;
}

    /* ########### Showcase area styling   ############### */
.showcase-area{
    height: 50vh;
    background: linear-gradient(rgba(240, 240, 240, 0.5), rgba(255, 255, 255, 0.336)) ,url(./img/show.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}
.showcase-container{
    /* position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}
.showcase-container a{
    transition: all 0.2s ease-in-out;
}
.showcase-container a:hover{
    background: #cecece;
    color: #ec4f31;
}

.showcase-container h1{
    text-transform: uppercase;
}



#about{
    padding: 5rem 0;
    /* background: #ebebeb; */
    background: #f5f5f7;;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}
#about h2{
    font-size: 3.2rem;
}
#about p{
    font-size: 1.6rem;
    color: #555;
}
#about .small{
    font-size: 1.6rem;
    font-weight: 600;
    color: #666;
}

.about-img{
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px; */
    flex: 1 1 40rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(150%);
    animation: about-img-animation 0.5s ease-in-out forwards;
}
@keyframes about-img-animation{
    100%{
        transform: translate(0);
    }
}
.about-text{
    flex: 1 1 40rem;
    padding: 3rem;
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-animation 0.5s ease-in-out forwards;
}
@keyframes about-text-animation{
    100%{
        transform: translate(0);
    }
}
.about-img img{
    display: block;
    height: 45rem;
    max-width: 100%;
    margin: auto;
    border-radius: 2rem;
    /* object-fit: cover;
    object-position: center; */
}




    /* ############# Food Types Styling ############# */

#food{
    padding: 5rem 0 10rem 0;
}

.food-container{
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width: 100%;
    max-height: 30rem;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.img-container{
    margin: 0 1rem;
    position: relative;    
}

.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3{
    color: #fff;
    font-size: 3rem;

}
.img-content a{
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}
.img-content a:hover{
    color: #ec4f31;
    background: #444;
    font-weight: 600;
}
.img-container::after{
    content: 'hello';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;

}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content{
    opacity: 1;
    top: 50%;
}



    /* #############   Food Menu Styling   ############### */

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 3rem 0;
}

.food-menu-container img{
    display: block;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-menu-items{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description{
    margin: auto 1.5rem;
}

.food-title{
    font-size: 2.5rem;
    font-weight: #444;
}
.food-description p{
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}
.food-description .food-price{
    color: #ec4f31;
    font-weight: 700;
}
    /* ##########  For stars rating box    ################ */

#testimonials{
    background: #f5f5f7;
    padding: 5rem 0rem;
}

.testimonial-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
}
.testimonial-container .checked{
    color: #ff9529;
}
.testimonial-box{
    text-align: center;
    padding: 1rem;
}
.testimonial-box .testimonial-text{
    margin: 1rem 0;
    color: #444;
}
.testimonial-box .customer-detail img{
    display: block;
    margin: auto;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.customer-detail p{
    color: #333;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1rem;
}




#contact{
    padding: 5rem 0;
    background-color: rgb(233, 233, 233);
}

.contact-container{
    display: flex;
    background: #fff;
}

.contact-image{
    width: 50%;
}
.contact-image img{
    display: block;
    height: 50rem;
    object-fit: cover;
    object-position: right;
    width: 100%;
}
.form-container{
    padding: 1rem;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}

.form-container textarea{
    display: block;
    width: 100%;
    border: 2px solid #ddd;
    padding: 1rem;
    resize: none;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}
.form-container h2{
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #444;
    margin-bottom: 0.5rem;
}
.form-container a{
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
}
.form-container a:hover{
    background: #cecece;
    color: #ec4f31;
}


#footer h2{
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    /* background: rgb(65, 65, 65); */
    background: #e25d42;
}

/* ######### media queries ############## */

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo{
        position: absolute;
        top: 7px;
        right: 15px;
        height: 5rem;
        width: 5rem;
    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{                 /* ~ = sibling */
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }



    .food-container{
        flex-direction: column;
        align-items: stretch;
    }
    .food-type:not(:last-child){
        margin-bottom: 3rem;
    }
    .food-type{
        box-shadow: 5px 5px 10px 0px #aaa;
    }
    .img-container{
        margin: 0;
    }
}




@media (max-width: 500px){
    html{
        font-size: 50%;
    }
    .testimonial-container{
        flex-direction: column;
    }
    
    .food-menu-items{
        flex-direction: column;
        text-align: center;
    }
    .food-menu-container img{
        margin: auto;
    }
    .form-container{
        width: 90%;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-image{
        width: 90%;
        margin: 3rem auto;
    }
}


@media (orientation: landscape) and (max-height: 500px){
    .showcase-area{
        height: 50vmax;
    }
}